{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block title %}Detial{% endblock title %}

{% block content %}
  <div class = "article-entry">
    <h2>{{article.title}}</h2>
    <p>by {{article.author}} | {{article.date}}</p>
    <p>{{article.body}} </p>
  </div>

  <hr>
  <h4>comments</h4>
  {% for comment in article.comments.all %}
    <p>{{comment.author}} &middot; {{comment.text}}</p>
  {% endfor %}
<hr>

<h4>Add a comment</h4>
<form action = "" method = "POST">
  {% csrf_token %}
  {{form|crispy}}
  <button class = "btn btn-success ml-2" type = "submit">Save</button>
</form>

  {% if article.author == user %}
    <p>
      <a href = {% url "article_edit" article.pk%}>Edit</a> |
      <a href = {% url "article_delete" article.pk%}>Delete</a>
  </p>

{% endif %}
<p>back to <a href = {% url "article_list" %}>All Articles</a>.</p>
{% endblock content %}