{% extends "base.html" %}

{% block title %}Detial{% endblock title %}

{% block content %}
  <div class = "article-entry">
    <h2>{{article.title}}</h2>
    <p>by {{article.author}} | {{article.date}}</p>
    <p>{{article.body}} </p>
  </div>
  {% if article.author == user %}
    <p>
      <a href = {% url "article_edit" article.pk%}>Edit</a> |
      <a href = {% url "article_delete" article.pk%}>Delete</a>
  </p>
{% endif %}
<p>back to <a href = {% url "article_list" %}>All Articles</a>.</p>
{% endblock content %}